.new-ticket-container {
  border: 5px solid red;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-right: 30px;
}

.current-ticket {
  border: 5px solid red;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-left: 30px;
}